
@{
    Layout = "_LayoutNoMenu";
    ViewData["Title"] = "Login";
}

@using SuperMunchkin.ViewModels;
@model UserViewModel

<div class="w-100 text-center mt-5 pb-3">
    <h1>Super<br />Munchkin</h1>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="height: 70vh;">
        <div class="text-center">
            <div class="w-100" style="height: 50px;">
                @ViewBag.ErrorMessage
            </div>
            <div class="mb-1 pt-3">
                @Html.TextBoxFor(m => m.Username, new { placeholder = "Username", @class = "custom-border p-1" })
            </div>
            <div class="mb-1">
                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "custom-border p-1" })
            </div>
            <div>
                <button class="button-big custom-border mr-3">
                    @Html.ActionLink("Register", "Register", "User")
                </button>
                <input type="submit" value="Login" class="button-big custom-border" />
            </div>
        </div>
    </div>
}