
@{
    ViewData["Title"] = "Statistics";
}

@using Models;
@using Models.Enums;


<div class="w-100 text-center mt-3 mb-2">
    <h1>User<br />Statistics</h1>
</div>

<div class="w-100 m-auto" style="height: 50px;">
    <div class="ml-3 d-inline-block float-left">
        <p class="mb-0">Games played: @ViewBag.UserGames.Count</p>
        <p class="mb-0">Games won: @ViewBag.GamesWon</p>
    </div>
    <div class="mr-3 d-inline-block float-right">
        <p class="mb-0 text-left">Avg level: @ViewBag.AvgLevel</p>
        <p class="mb-0 text-left">Avg gear: @ViewBag.AvgGear</p>
    </div>
</div>

@if (ViewBag.UserGames.Count == 0 && ViewBag.LoggedInUser.Munchkins.Count == 0)
{
    <div class="text-center mt-5 pt-5">
        <p class="mb-0">You have no munchkins yet.</p>
        @Html.Raw("Click ")
        <a href="@Url.Action("CreateNewGame", "Game")">
            <div class="d-inline-block custom-border button-small-half">
                here
            </div>
        </a>
        @Html.Raw(" to start a new game")<br />
        @Html.Raw("and become a real munchkin!")
    </div>
}

<div class="hiddenscroll text-center m-auto" style="height: 55vh; overflow-y: scroll;">
    @{
        foreach (Munchkin m in ViewBag.LoggedInUser.Munchkins)
        {
            <div class="overview custom-border mx-auto mb-3 mt-2">
                <div class="d-inline">
                    @{
                        foreach (Game g in ViewBag.UserGames)
                        {
                            if (g.Status == GameStatus.Finished)
                            {
                                if (g.Munchkins.Find(gm => gm.Id == m.Id) != null)
                                {
                                    if (g.Winner.Id == m.Id)
                                    {
                                        <h4 class="pl-3 pt-3 mb-0 text-left">Won!</h4>
                                        <div class="d-inline-block float-left text-left pl-3" ontouchstart="showPopup(@m.Id)" ontouchend="hidePopup(@m.Id)">
                                            <div class="d-inline-block">
                                                <p class="d-block mb-0">Level @m.Level</p>
                                                <p class="d-block mb-0">Gear @m.Gear</p>
                                            </div>
                                            <div class="d-inline-block">
                                                <h1 class="pl-4 mb-0">
                                                    @{
                                                        int strength = m.Level + m.Gear;
                                                    }
                                                    @strength
                                                </h1>
                                            </div>
                                        </div>
                                        <div class="d-block float-right text-right pr-3">
                                            @g.DateTimePlayed.ToString("HH:mm")<br />
                                            @g.DateTimePlayed.ToString("dd-MM-yyyy")
                                        </div>
                                        break;
                                    }
                                    else
                                    {
                                        <h4 class="pl-3 pt-3 mb-0 text-left">Lost!</h4>
                                        <div class="d-inline-block float-left text-left pl-3" ontouchstart="showPopup(@m.Id)" ontouchend="hidePopup(@m.Id)">
                                            <div class="d-inline-block">
                                                <p class="d-block mb-0">Level @m.Level</p>
                                                <p class="d-block mb-0">Gear @m.Gear</p>
                                            </div>
                                            <div class="d-inline-block">
                                                <h1 class="pl-4 mb-0">
                                                    @{
                                                        int strength = m.Level + m.Gear;
                                                    }
                                                    @strength
                                                </h1>
                                            </div>
                                        </div>
                                        <div class="d-block float-right text-right pr-3">
                                            @g.DateTimePlayed.ToString("HH:mm")<br />
                                            @g.DateTimePlayed.ToString("dd-MM-yyyy")
                                        </div>
                                        break;
                                    }
                                }
                            }
                            else
                            {
                                if (g.Munchkins.Find(gm => gm.Id == m.Id) != null)
                                {
                                    <h4 class="pl-3 pt-3 mb-0 text-left">Playing!</h4>
                                    <div class="d-inline-block float-left text-left pl-3" ontouchstart="showPopup(@m.Id)" ontouchend="hidePopup(@m.Id)">
                                        <div class="d-inline-block">
                                            <p class="d-block mb-0">Level @m.Level</p>
                                            <p class="d-block mb-0">Gear @m.Gear</p>
                                        </div>
                                        <div class="d-inline-block">
                                            <h1 class="pl-4 mb-0">
                                                @{
                                                    int strength = m.Level + m.Gear;
                                                }
                                                @strength
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="d-block float-right text-right pr-3">
                                        @g.DateTimePlayed.ToString("HH:mm")<br />
                                        @g.DateTimePlayed.ToString("dd-MM-yyyy")
                                    </div>
                                }
                            }
                        }
                    }
                </div>
                @*<div class="d-inline text-left float-left pl-3" ontouchstart="showPopup(@m.Id)" ontouchend="hidePopup(@m.Id)">
                    <div class="d-inline-block">
                        <p class="d-block mb-0">Level @m.Level</p>
                        <p class="d-block mb-0">Gear @m.Gear</p>
                    </div>
                    <div class="d-inline-block">
                        <h1 class="pl-4 mb-0">
                            @{
                                int strength = m.Level + m.Gear;
                            }
                            @strength
                        </h1>
                    </div>
                </div>*@
                <div id="@m.Id" class="d-none custom-border munchkinspopup mb-4">
                    <div class="text-left px-3 pt-2 pb-1">
                        <h5>Gender:
                            @{
                                if (m.Gender == MunchkinGender.Male)
                                {
                                    <i class="fas fa-mars" style="font-size: xx-large;"></i>
                                }
                                else
                                {
                                    <i class="fas fa-venus" style="font-size: xx-large;"></i>
                                }
                            }
                        </h5>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="custom-border button-small m-3 text-center" style="position: fixed; bottom: 0; left: 0; padding-top: 3px;">
    <i class="fas fa-bars fa-2x navbar-toggler navbar-toggler-icon" style="padding-left: 8px;"></i>
</div>