
@{
    ViewData["Title"] = "Statistics";
}

@using Models;
@using Models.Enums;


<div class="w-100 text-center mt-3 mb-2">
    <h1>User<br />Statistics</h1>
</div>

<div class="w-100 m-auto" style="height: 50px;">
    <div class="ml-3 d-inline-block float-left">
        <p class="mb-0">Games played: @ViewBag.UserGames.Count</p>
        <p class="mb-0">Games won: @ViewBag.GamesWon</p>
    </div>
    <div class="mr-3 d-inline-block float-right">
        <p class="mb-0 text-left">Avg gear: @ViewBag.AvgGear</p>
        <p class="mb-0 text-left">Avg level: @ViewBag.AvgLevel</p>
    </div>
</div>

<div class="hiddenscroll text-center m-auto" style="height: 55vh; overflow-y: scroll;">
    @{
        foreach (Munchkin m in ViewBag.LoggedInUser.Munchkins)
        {
            <div class="overview custom-border ml-auto mr-auto mb-3 mt-2">
                <div class="d-inline-block float-left">
                    @{
                        foreach (Game g in ViewBag.UserGames)
                        {
                            if (g.Status == GameStatus.Finished)
                            {
                                if (g.Winner.Id == m.Id)
                                {
                                    <h2 class="pl-2 pt-1 mb-0 float-left text-left" style="width: 70vw;">Winner!</h2>
                                    break;
                                }
                                else
                                {
                                    <h2 class="pl-2 pt-1 mb-0 float-left text-left" style="width: 70vw;">Loser!</h2>
                                    break;
                                }
                            }
                            else
                            {
                                <h2 class="pl-2 pt-1 mb-0 float-left text-left" style="width: 70vw;">Ongoing!</h2>
                                break;
                            }
                        }
                    }
                </div>
                <div class="d-inline-block float-right pt-2 pr-2">
                    @{
                        if (m.Gender == MunchkinGender.Male)
                        {
                            <i class="fas fa-mars" style="font-size: xx-large;"></i>
                        }
                        else
                        {
                            <i class="fas fa-venus" style="font-size: xx-large;"></i>
                        }
                    }
                </div>
                <div class="text-left float-left pl-2">
                    <div class="d-inline-block">
                        <p class="mb-0">Level @m.Level</p>
                        <p class="mb-0">Gear @m.Gear</p>
                    </div>
                    <div class="d-inline-block">
                        <h1 class="pl-4 mb-0">
                            @{
                                int strength = m.Level + m.Gear;
                            }
                            @strength
                        </h1>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="custom-border button-small m-3 text-center" style="position: fixed; bottom: 0; left: 0; padding-top: 3px;">
    <i class="fas fa-bars fa-2x navbar-toggler navbar-toggler-icon" style="padding-left: 8px;"></i>
</div>