
@{
    ViewData["Title"] = "GameSetup";
}

@using Models;
@using Models.Enums;
@model Game

<div class="w-100 text-center mt-3">
    <h2>Game Setup</h2>
</div>

<div class="hiddenscroll text-center m-auto" style="height: 70vh; overflow-y: scroll;">
    @{
        foreach (Munchkin m in Model.Munchkins)
        {
            <div class="overview custom-border ml-auto mr-auto mb-3 mt-2">
                @{
                    if (Model.Status == GameStatus.Setup)
                    {
                        <div class="custom-border" style="height: 30px; width: 30px; padding-top: 3px; padding-left: 1px; position: relative; top: -10px; left: -10px;">
                            @{ int gameId = Model.Id; }
                            <a href="@Url.Action("Remove", "Munchkin", new { m.Id, gameId })">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>
                        <div class="d-inline-block float-left">
                            <h2 class="pl-3 mb-0 float-left text-left" style="width: 70vw;">@m.Name</h2>
                        </div>
                        <div class="d-inline-block float-right pr-2">
                            @{
                                if (m.Gender == MunchkinGender.Male)
                                {
                                    <i class="fas fa-mars" style="font-size: xx-large;"></i>
                                }
                                else
                                {
                                    <i class="fas fa-venus" style="font-size: xx-large;"></i>
                                }
                            }
                        </div>
                    }
                }
            </div>
        }
    }
</div>

<div class="d-inline-block" style="position: fixed; bottom: 0; left: 0;">
    <div class="custom-border button-small m-3 text-center float-left" style="padding-top: 3px;">
        <i class="fas fa-bars fa-2x navbar-toggler navbar-toggler-icon" style="padding-left: 8px;"></i>
    </div>

    <a href="@Url.Action("GameLobby", "Game")">
        <div class="custom-border button-small my-3 text-center float-right" style="padding-top: 7px; padding-left: -1px;">
            <i class="fas fa-chevron-left fa-2x"></i>
        </div>
    </a>
</div>

<div class="d-inline-block" style="position: fixed; bottom: 0; right: 0;">
    @{
        if (Model.Munchkins.Count >= 3)
        {
            <div class="custom-border button-small mr-3 mb-3 text-center float-left" style="padding-top: 7px;">
                <a href="@Url.Action("AdjustGameStatus", "Game", new { Model.Id })">
                    <i class="fas fa-play" style="font-size: x-large; padding-left: 3px; padding-top: 4px;"></i>
                </a>
            </div>
        }

        if (Model.Munchkins.Count < 6)
        {
            <a href="@Url.Action("Add", "Munchkin", new { Model.Id })">
                <div class="custom-border button-small mr-3 mb-3 text-center float-right" style="padding-top: 7px;">
                    <i class="fas fa-plus fa-2x"></i>
                </div>
            </a>
        }
    }
</div>