
@{
    ViewData["Title"] = "GameOverView";
}

@using Models;
@using Models.Enums;
@model Game

<div class="w-100 text-center mt-3">
    <h2>Game<br />Overview</h2>
</div>

<div class="hiddenscroll text-center m-auto" style="height: 65vh; overflow-y: scroll;">
    @{
        if (Model.Status == GameStatus.Playing)
        {
            foreach (Munchkin m in Model.Munchkins)
            {
                int diceInt = 0;
                int gameId = Model.Id;

                <a href="@Url.Action("MunchkinEdit", "Munchkin", new { m.Id, diceInt, gameId })">
                    <div class="overview custom-border ml-auto mr-auto mb-3 mt-2">
                        <div class="d-inline-block float-left">
                            <h2 class="pl-2 pt-1 mb-0 float-left text-left" style="width: 70vw;">@m.Name</h2>
                        </div>
                        <div class="d-inline-block float-right pt-2 pr-2">
                            @{
                                if (m.Gender == MunchkinGender.Male)
                                {
                                    <i class="fas fa-mars" style="font-size: xx-large;"></i>
                                }
                                else
                                {
                                    <i class="fas fa-venus" style="font-size: xx-large;"></i>
                                }
                            }
                        </div>
                        <div class="text-left float-left pl-2">
                            <div class="d-inline-block">
                                <p class="mb-0">Level @m.Level</p>
                                <p class="mb-0">Gear @m.Gear</p>
                            </div>
                            <div class="d-inline-block">
                                <h1 class="pl-4 mb-0">
                                    @{
                                        int strength = m.Level + m.Gear;
                                    }
                                    @strength
                                </h1>
                            </div>
                        </div>
                    </div>
                </a>
            }
        }
        else
        {
            <div class="text-center mt-5 pt-5">
                <p>The game has ended.</p>
                <p>Check the history tab<br /> to see the results.</p>
            </div>
        }
    }
</div>

<div class="d-inline-block" style="position: fixed; bottom: 0; left: 0;">
    <div class="custom-border button-small m-3 text-center float-left" style="padding-top: 3px;">
        <i class="fas fa-bars fa-2x navbar-toggler navbar-toggler-icon" style="padding-left: 8px;"></i>
    </div>

    <a href="@Url.Action("GameLobby", "Game")">
        <div class="custom-border button-small my-3 text-center float-right" style="padding-top: 7px; padding-left: -1px;">
            <i class="fas fa-chevron-left fa-2x"></i>
        </div>
    </a>
</div>

<a href="@Url.Action("RollDice", "Game", new { Model.Id })">
    <div class="custom-border button-small m-3 text-center" style="position: fixed; bottom: 0; right: 0; padding-top: 3px;">
        @{
            switch (ViewBag.DiceInt)
            {
                case 1: <i class="fas fa-dice-one fa-2x" style="padding-top: 4px;"></i>break;
                case 2: <i class="fas fa-dice-two fa-2x" style="padding-top: 4px;"></i>break;
                case 3: <i class="fas fa-dice-three fa-2x" style="padding-top: 4px;"></i>break;
                case 4: <i class="fas fa-dice-four fa-2x" style="padding-top: 4px;"></i>break;
                case 5: <i class="fas fa-dice-five fa-2x" style="padding-top: 4px;"></i>break;
                case 6: <i class="fas fa-dice-six fa-2x" style="padding-top: 4px;"></i>break;
                default: <i class="fas fa-dice fa-2x" style="padding-top: 4px;"></i>break;
            }
        }
    </div>
</a>