
@{
    ViewData["Title"] = "GameLobby";
}

@using Models;
@using Models.Enums;

<div class="w-100 text-center mt-3 mb-3">
    <h1>Game Lobby</h1>
</div>

<div class="hiddenscroll text-center m-auto" style="height: 70vh; overflow-y: scroll;">
    @{
        if (ViewBag.UserGames.Count == 0)
        {
            <div class="text-center mt-5 pt-5">
                <p class="mb-0">You have no games yet.</p>
                <p>Click on the play button<br />to start a new game!</p>
            </div>
        }

        foreach (Game g in ViewBag.UserGames)
        {
            if (g.Status == GameStatus.Playing)
            {
                <a href="@Url.Action("GameOverview", "Game", new { g.Id })">
                    <div class="overview custom-border mx-auto mb-3 mt-2">
                        <div class="d-inline-block w-100">
                            <div class="pt-2">
                                <h4>Continue playing!</h4>
                            </div>
                            <div class="d-inline-block float-left text-left ml-3" ontouchstart="showPopup(@g.Id)" ontouchend="hidePopup(@g.Id)">
                                @g.Munchkins.Count/6<br />
                                munchkins
                            </div>
                            <div class="d-inline-block float-right text-right mr-3">
                                @g.DateTimePlayed.ToString("dd-MM-yyyy")<br />
                                @g.DateTimePlayed.ToString("HH:mm")
                            </div>
                        </div>
                    </div>
                </a>
                <div id="@g.Id" class="d-none custom-border munchkinspopup mb-4">
                    <div class="text-left px-3 pt-2 pb-1">
                        <h5>Munchkins<br />in game:</h5>
                        @{
                            foreach (Munchkin m in g.Munchkins)
                            {
                                <i class="fas fa-shield-alt" style="margin-right: 1px;"></i> @m.Name;<br />
                            }
                        }
                    </div>
                </div>
            }
            else if (g.Status == GameStatus.Setup)
            {
                <div class="overview custom-border ml-auto mr-auto mb-3 mt-2">
                    <div class="custom-border" style="height: 30px; width: 30px; padding-top: 3px; position: relative; top: -10px; left: -10px; z-index: 1;">
                        <a href="@Url.Action("Remove", "Game", new { g.Id })">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <a href="@Url.Action("GameSetup", "Game", new { g.Id })">
                        <div class="w-100" style="position: relative; top: -30px;">
                            <div class="pt-2">
                                <h4>Start playing!</h4>
                            </div>
                            <div class="d-inline-block float-left text-left ml-3" ontouchstart="showPopup(@g.Id)" ontouchend="hidePopup(@g.Id)">
                                @g.Munchkins.Count/6<br />
                                munchkins
                            </div>
                            <div class="d-inline-block float-right text-right mr-3">
                                @g.DateTimePlayed.ToString("dd-MM-yyyy")<br />
                                @g.DateTimePlayed.ToString("HH:mm")
                            </div>
                        </div>
                    </a>
                    @{
                        if (g.Munchkins.Count != 0)
                        {
                            <div id="@g.Id" class="d-none custom-border munchkinspopup mb-4">
                                <div class="text-left px-3 pt-2 pb-1">
                                    <h5>Munchkins<br />in game:</h5>
                                    @{
                                        foreach (Munchkin m in g.Munchkins)
                                        {
                                            <i class="fas fa-shield-alt" style="margin-right: 1px;"></i> @m.Name;<br />
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            }
        }
    }
</div>

<div class="custom-border button-small m-3 text-center" style="position: fixed; bottom: 0; left: 0; padding-top: 3px;">
    <i class="fas fa-bars fa-2x navbar-toggler navbar-toggler-icon" style="padding-left: 8px;"></i>
</div>

<div class="custom-border button-small m-3 text-center" style="position: fixed; bottom: 0; right: 0; padding-top: 7px;">
    <a href="@Url.Action("CreateNewGame", "Game")">
        <i class="fas fa-play" style="font-size: x-large; padding-left: 3px; padding-top: 4px;"></i>
    </a>
</div>