
@{
    ViewData["Title"] = "HistoryLobby";
}

@using Models;
@using Models.Enums;

<div class="w-100 text-center mt-3">
    <h2>Game History</h2>
</div>

<div class="hiddenscroll text-center m-auto" style="height: 70vh; overflow-y: scroll;">
    @{
        if (ViewBag.UserGames.Count == 0)
        {
            <div class="text-center mt-5 pt-5">
                <p class="mb-0">You have no finished games yet.</p>
                @Html.Raw("Click ")
                <a href="@Url.Action("GameLobby", "Game")">
                    <div class="d-inline-block custom-border button-small-half">
                        here
                    </div>
                </a>
                @Html.Raw(" to start/continue playing!")
            </div>
        }

        foreach (Game g in ViewBag.UserGames)
        {
            if (g.Status == GameStatus.Finished)
            {
                <a href="@Url.Action("HistoryOverview", "Game", new { g.Id })">
                    <div class="overview custom-border ml-auto mr-auto mb-3 mt-2">
                        <div class="d-inline-block w-100">
                            <div class="pt-2">
                                <h4>@g.Winner.Name won!</h4>
                            </div>
                            <div class="d-inline-block float-left text-left ml-3" onmouseover="showPopup(@g.Id)" ontouchstart="showPopup(@g.Id)" onmouseout="hidePopup(@g.Id)" ontouchend="hidePopup(@g.Id)">
                                @g.Munchkins.Count/6<br />
                                munchkins
                            </div>
                            <div class="d-inline-block float-right text-right mr-3">
                                @g.DateTimePlayed.ToString("dd-MM-yyyy")<br />
                                @g.DateTimePlayed.ToString("HH:mm")
                            </div>
                        </div>
                    </div>
                </a>
                <div id="@g.Id" class="d-none custom-border munchkinspopup mb-4">
                    <div class="text-left px-3 pt-2 pb-1">
                        <h5>Munchkins<br />in game:</h5>
                        @{
                            foreach (Munchkin m in g.Munchkins)
                            {
                                if (g.Winner.Id == m.Id)
                                {
                                    <i class="fas fa-trophy" style="margin-right: 5px;"></i>@m.Name;<br />
                                }
                                else
                                {
                                    <i class="fas fa-shield-alt" style="margin-right: 1px;"></i> @m.Name;<br />
                                }
                            }
                        }
                    </div>
                </div>
            }
        }
    }
</div>

<div class="custom-border button-small m-3 text-center" style="position: fixed; bottom: 0; left: 0; padding-top: 3px;">
    <i class="fas fa-bars fa-2x navbar-toggler navbar-toggler-icon" style="padding-left: 8px;"></i>
</div>