
@{
    ViewData["Title"] = "Index";
}

@using Models;
@model Battle

@{
    int munchkinId = ViewBag.Munchkin.Id;
    int battleId = Model.Id;

    int totalMonsterPower = 0;
    int totalMunchkinPower = 0;

    foreach (Monster monster in Model.Monsters)
    {
        totalMonsterPower += monster.Level;
        totalMonsterPower += monster.Modifier;
    }

    foreach (Munchkin munchkin in Model.Munchkins)
    {
        totalMunchkinPower += munchkin.Level;
        totalMunchkinPower += munchkin.Gear;
        totalMunchkinPower += munchkin.Modifier;
    }
}

<div class="w-100 text-center mt-3 mb-3">
    <h1>
        Battle
    </h1>
</div>

<div class="text-center">
    <div>
        <div id="@Model.Monsters[0].Id" class="d-inline">
            <div>
                <h2 class="d-inline-block">
                    @Model.Monsters[0].Name
                </h2>
                @{
                    if (Model.Monsters.Count() == 2)
                    {
                        <div class="custom-border button-tiny d-inline-block" onclick="swapDisplay(@Model.Monsters[1].Id, @Model.Monsters[0].Id)">
                            <i class="fas fa-exchange-alt" style="padding-top: 5px;"></i>
                        </div>
                    }
                    else
                    {
                        <a href="@Url.Action("AddMonster", "Battle", new { Model.Id, munchkinId })">
                            <i class="fas fa-plus custom-border button-tiny d-inline-block mb-1" style="padding-top: 5px;"></i>
                        </a>
                    }
                }
            </div>
            <div class="d-inline-block text-center">
                <h5 class="mb-0">Level</h5>
                <div class="d-inline-block" style="width: 30px;">
                    <a href="@Url.Action("LevelUp", "Monster", new { Model.Monsters[0].Id, munchkinId, battleId })">
                        <i class="fas fa-chevron-up custom-border button-tiny mb-2" style="padding-top: 3px;"></i><br />
                    </a>
                    <a href="@Url.Action("LevelDown", "Monster", new { Model.Monsters[0].Id, munchkinId, battleId })">
                        <i class="fas fa-chevron-down custom-border button-tiny" style="padding-top: 5px;"></i>
                    </a>
                </div>
                <div class="d-inline-block ml-2" style="width: 30px;">
                    <h2>@Model.Monsters[0].Level</h2>
                </div>
            </div>
            <div class="d-inline-block text-center">
                <h5 class="mb-0">Modifier</h5>
                <div class="d-inline-block" style="width: 30px;">
                    <a href="@Url.Action("ModifierUp", "Monster", new { Model.Monsters[0].Id, battleId, munchkinId })">
                        <i class="fas fa-chevron-up custom-border button-tiny mb-2" style="padding-top: 3px;"></i><br />
                    </a>
                    <a href="@Url.Action("ModifierDown", "Monster", new { Model.Monsters[0].Id, battleId, munchkinId })">
                        <i class="fas fa-chevron-down custom-border button-tiny" style="padding-top: 5px;"></i>
                    </a>
                </div>
                <div class="d-inline-block ml-2" style="width: 30px;">
                    <h2>@Model.Monsters[0].Modifier</h2>
                </div>
            </div>
        </div>
        @{
            if (Model.Monsters.Count() == 2)
            {
                <div id="@Model.Monsters[1].Id" class="d-none">
                    <div>
                        <h2 class="d-inline-block">                            
                            @Model.Monsters[1].Name
                        </h2>
                        <div class="custom-border button-tiny d-inline-block" onclick="swapDisplay(@Model.Monsters[0].Id, @Model.Monsters[1].Id)">
                            <i class="fas fa-exchange-alt" style="padding-top: 5px;"></i>
                        </div>
                        @{ 
                            int monsterId = Model.Monsters[1].Id;
                        }
                        <a href="@Url.Action("RemoveMonster", "Battle", new { Model.Id, monsterId, munchkinId })">
                            <div class="custom-border button-tiny d-inline-block">
                                <i class="fas fa-times" style="padding-left: 1px; padding-top: 5px;"></i>
                            </div>
                        </a>
                    </div>
                    <div class="d-inline-block text-center">
                        <h5 class="mb-0">Level</h5>
                        <div class="d-inline-block" style="width: 30px;">
                            <a href="@Url.Action("LevelUp", "Monster", new { Model.Monsters[1].Id, munchkinId, battleId })">
                                <i class="fas fa-chevron-up custom-border button-tiny mb-2" style="padding-top: 3px;"></i><br />
                            </a>
                            <a href="@Url.Action("LevelDown", "Monster", new { Model.Monsters[1].Id, munchkinId, battleId })">
                                <i class="fas fa-chevron-down custom-border button-tiny" style="padding-top: 5px;"></i>
                            </a>
                        </div>
                        <div class="d-inline-block ml-2" style="width: 30px;">
                            <h2>@Model.Monsters[1].Level</h2>
                        </div>
                    </div>
                    <div class="d-inline-block text-center">
                        <h5 class="mb-0">Modifier</h5>
                        <div class="d-inline-block" style="width: 30px;">
                            <a href="@Url.Action("ModifierUp", "Monster", new { Model.Monsters[1].Id, battleId, munchkinId })">
                                <i class="fas fa-chevron-up custom-border button-tiny mb-2" style="padding-top: 3px;"></i><br />
                            </a>
                            <a href="@Url.Action("ModifierDown", "Monster", new { Model.Monsters[1].Id, battleId, munchkinId })">
                                <i class="fas fa-chevron-down custom-border button-tiny" style="padding-top: 5px;"></i>
                            </a>
                        </div>
                        <div class="d-inline-block ml-2" style="width: 30px;">
                            <h2>@Model.Monsters[1].Modifier</h2>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="my-3">
        <div class="d-inline-block">
            <h1>
                @{
                    if (totalMonsterPower >= totalMunchkinPower)
                    {
                        <i class="fas fa-crown"></i>
                    }
                }
                @totalMonsterPower
            </h1>
        </div>
        <div class="d-inline-block px-3">
            <h3>VS</h3>
        </div>
        <div class="d-inline-block" >
            <h1>
                @totalMunchkinPower
                @{
                    if (totalMunchkinPower > totalMonsterPower)
                    {
                        <i class="fas fa-crown"></i>
                    }
                }
            </h1>
        </div>
    </div>
    <div>
        <div id="@Model.Munchkins[0].Id" class="d-inline">
            <div>
                <h2 class="d-inline-block">                    
                    @Model.Munchkins[0].Name
                </h2>
                @{
                    if (Model.Munchkins.Count() == 2)
                    {
                        <div class="custom-border button-tiny d-inline-block" onclick="swapDisplay(@Model.Munchkins[1].Id, @Model.Munchkins[0].Id)">
                            <i class="fas fa-exchange-alt" style="padding-top: 5px;"></i>
                        </div>
                    }
                    else
                    {
                        <a href="@Url.Action("AddMunchkin", "Battle", new { Model.Id, munchkinId })">
                            <i class="fas fa-plus custom-border button-tiny d-inline-block mb-1" style="padding-top: 5px;"></i>
                        </a>
                    }
                }
            </div>
            <div class="d-inline-block text-center">
                <h5 class="mb-0">Level</h5>
                <div class="d-inline-block" style="width: 30px;">
                    <a href="@Url.Action("LevelUp", "Battle", new { Model.Munchkins[0].Id })">
                        <i class="fas fa-chevron-up custom-border button-tiny mb-2" style="padding-top: 3px;"></i><br />
                    </a>
                    <a href="@Url.Action("LevelDown", "Battle", new { Model.Munchkins[0].Id })">
                        <i class="fas fa-chevron-down custom-border button-tiny" style="padding-top: 5px;"></i>
                    </a>
                </div>
                <div class="d-inline-block ml-2" style="width: 30px;">
                    <h2>@Model.Munchkins[0].Level</h2>
                </div>
            </div>
            <div class="d-inline-block text-center mx-3">
                <h5 class="mb-0">Gear</h5>
                <div class="d-inline-block" style="width: 30px;">
                    <a href="@Url.Action("GearUp", "Battle", new { Model.Munchkins[0].Id })">
                        <i class="fas fa-chevron-up custom-border button-tiny mb-2" style="padding-top: 3px;"></i><br />
                    </a>
                    <a href="@Url.Action("GearDown", "Battle", new { Model.Munchkins[0].Id })">
                        <i class="fas fa-chevron-down custom-border button-tiny" style="padding-top: 5px;"></i>
                    </a>
                </div>
                <div class="d-inline-block ml-2" style="width: 30px;">
                    <h2>@Model.Munchkins[0].Gear</h2>
                </div>
            </div>
            <div class="d-inline-block text-center">
                <h5 class="mb-0">Modifier</h5>

                <div class="d-inline-block" style="width: 30px;">
                    <a href="@Url.Action("ModifierUp", "Battle", new { Model.Munchkins[0].Id, battleId })">
                        <i class="fas fa-chevron-up custom-border button-tiny mb-2" style="padding-top: 3px;"></i><br />
                    </a>
                    <a href="@Url.Action("ModifierDown", "Battle", new { Model.Munchkins[0].Id, battleId })">
                        <i class="fas fa-chevron-down custom-border button-tiny" style="padding-top: 5px;"></i>
                    </a>
                </div>
                <div class="d-inline-block ml-2" style="width: 30px;">
                    <h2>@Model.Munchkins[0].Modifier</h2>
                </div>
            </div>
        </div>
        @{
            if (Model.Munchkins.Count() == 2)
            {
                <div id="@Model.Munchkins[1].Id" class="d-none">
                    <div>
                        <h2 class="d-inline-block">
                            @Model.Munchkins[1].Name
                        </h2>
                        <div class="custom-border button-tiny d-inline-block" onclick="swapDisplay(@Model.Munchkins[0].Id, @Model.Munchkins[1].Id)">
                            <i class="fas fa-exchange-alt" style="padding-top: 5px;"></i>
                        </div>
                        @{
                            int munchkinRemoveId = Model.Munchkins[1].Id;
                        }
                        <a href="@Url.Action("RemoveMunchkin", "Battle", new { Model.Id, munchkinRemoveId, munchkinId })">
                            <div class="custom-border button-tiny d-inline-block">
                                <i class="fas fa-times" style="padding-top: 5px;"></i>
                            </div>
                        </a>
                    </div>
                    <div class="d-inline-block text-center">
                        <h5 class="mb-0">Level</h5>
                        <div class="d-inline-block" style="width: 30px;">
                            <a href="@Url.Action("LevelUp", "Battle", new { Model.Munchkins[1].Id })">
                                <i class="fas fa-chevron-up custom-border button-tiny mb-2" style="padding-top: 3px;"></i><br />
                            </a>
                            <a href="@Url.Action("LevelDown", "Battle", new { Model.Munchkins[1].Id })">
                                <i class="fas fa-chevron-down custom-border button-tiny" style="padding-top: 5px;"></i>
                            </a>
                        </div>
                        <div class="d-inline-block ml-2" style="width: 30px;">
                            <h2>@Model.Munchkins[1].Level</h2>
                        </div>
                    </div>
                    <div class="d-inline-block text-center mx-3">
                        <h5 class="mb-0">Gear</h5>
                        <div class="d-inline-block" style="width: 30px;">
                            <a href="@Url.Action("GearUp", "Battle", new { Model.Munchkins[1].Id })">
                                <i class="fas fa-chevron-up custom-border button-tiny mb-2" style="padding-top: 3px;"></i><br />
                            </a>
                            <a href="@Url.Action("GearDown", "Battle", new { Model.Munchkins[1].Id })">
                                <i class="fas fa-chevron-down custom-border button-tiny" style="padding-top: 5px;"></i>
                            </a>
                        </div>
                        <div class="d-inline-block ml-2" style="width: 30px;">
                            <h2>@Model.Munchkins[1].Gear</h2>
                        </div>
                    </div>
                    <div class="d-inline-block text-center">
                        <h5 class="mb-0">Modifier</h5>
                        <div class="d-inline-block" style="width: 30px;">
                            <a href="@Url.Action("ModifierUp", "Battle", new { Model.Munchkins[1].Id, battleId })">
                                <i class="fas fa-chevron-up custom-border button-tiny mb-2" style="padding-top: 3px;"></i><br />
                            </a>
                            <a href="@Url.Action("ModifierDown", "Battle", new { Model.Munchkins[1].Id, battleId })">
                                <i class="fas fa-chevron-down custom-border button-tiny" style="padding-top: 5px;"></i>
                            </a>
                        </div>
                        <div class="d-inline-block ml-2" style="width: 30px;">
                            <h2>@Model.Munchkins[1].Modifier</h2>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<div class="d-inline-block" style="position: fixed; bottom: 0; left: 0;">
    <div class="custom-border button-small m-3 text-center float-left" style="padding-top: 3px;">
        <i class="fas fa-bars fa-2x navbar-toggler navbar-toggler-icon" style="padding-left: 8px;"></i>
    </div>
    <a href="@Url.Action("MunchkinEdit", "Munchkin", new { ViewBag.Munchkin.Id })">
        <div class="custom-border button-small my-3 text-center float-right" style="padding-top: 7px; padding-left: -1px;">
            <i class="fas fa-chevron-left fa-2x"></i>
        </div>
    </a>
</div>
<div class="d-inline-block" style="position: fixed; bottom: 0; right: 0;">
    <a href="@Url.Action("RollDice", "Battle", new { ViewBag.Munchkin.Id })">
        <div class="custom-border button-small m-3 text-center float-left" style="padding-top: 3px;">
            @{
                switch (ViewBag.DiceInt)
                {
                    case 1: <i class="fas fa-dice-one fa-2x" style="padding-top: 4px;"></i>break;
                    case 2: <i class="fas fa-dice-two fa-2x" style="padding-top: 4px;"></i>break;
                    case 3: <i class="fas fa-dice-three fa-2x" style="padding-top: 4px;"></i>break;
                    case 4: <i class="fas fa-dice-four fa-2x" style="padding-top: 4px;"></i>break;
                    case 5: <i class="fas fa-dice-five fa-2x" style="padding-top: 4px;"></i>break;
                    case 6: <i class="fas fa-dice-six fa-2x" style="padding-top: 4px;"></i>break;
                    default: <i class="fas fa-dice fa-2x" style="padding-top: 4px;"></i>break;
                }
            }
        </div>
    </a>
    <a href="@Url.Action("Finish", "Battle", new { Model.Id })">
        <div class="custom-border button-small mr-3 my-3 text-center float-right" style="padding-top: 6px;">
            <i class="fas fa-flag-checkered fa-2x"></i>
        </div>
    </a>
</div>