<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SuperMunchkin</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>
    @using Models;
    @using Newtonsoft.Json;
    @using System.Security.Claims;
    @{
        User user = JsonConvert.DeserializeObject<User>(((ClaimsIdentity)User.Identity).Claims.First().Value);
    }

    <nav class="navbar navbar-expand-lg justify-content-sm-start" style="position: absolute; z-index: 99;">        
        <div class="navbar-collapse w-50 p-3 p-lg-0 mt-lg-0 d-flex flex-column flex-lg-row flex-xl-row justify-content-lg-end mobileMenu" id="navbarSupportedContent">
            <div>
                <h5 class="mb-4 pt-sm-0 p-lg-0 mr-lg-5 mt-lg-2" style="text-decoration: underline;">@user.Username</h5>
            </div>
            <ul class="navbar-nav align-self-stretch float-right">
                <li class="nav-item active">
                    <div class="nav-link">@Html.ActionLink("Game", "GameLobby", "Game")</div>
                </li>
                <li class="nav-item active">
                    <div class="nav-link">@Html.ActionLink("History", "HistoryLobby", "Game")</div>
                </li>
                <li class="nav-item active">
                    <div class="nav-link">@Html.ActionLink("Statistics", "Index", "User")</div>
                </li>
                <li class="nav-item active mt-5">                    
                    <div class="nav-link">
                        <a href="@Url.Action("Logout", "User")">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav align-self-stretch w-100">
                <li class="nav-item active">
                    <i class="fas fa-bars fa-2x navbar-toggler navbar-toggler-icon custom-border button-small fixed-bottom m-3" style="padding-left: 9px; padding-top: 7px;"></i>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        <partial name="_CookieConsentPartial" />
        <main role="main">
            @RenderBody()
        </main>
    </div>
    
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
