
@{
    ViewData["Title"] = "Add";
}

@using Models;
@using Models.Enums;
@using SuperMunchkin.ViewModels;
@model MunchkinViewModel

<div class="w-100 text-center mt-3 pb-3">
    <h1>Add Munchkin</h1>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="height: 70vh;">
        <div class="text-center">
            <div class="mb-3" style="height: 40px;">
                <p class="text-danger mb-0">@ViewBag.ErrorMessage</p>
            </div>
            <div class="mb-3">
                @Html.TextBoxFor(m => m.Username, new { placeholder = "Username", @class = "custom-border p-1" })
            </div>
            <div class="mb-3">
                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "custom-border p-1" })
            </div>
            <div class="d-inline-block">
                <div class="float-left mr-5">
                    <div class="d-inline-block">
                        @Html.RadioButtonFor(m => m.Gender, MunchkinGender.Male)
                    </div>
                    <div class="d-inline-block">
                        <p>Male</p>
                    </div>
                </div>
                <div class="float-right">
                    <div class="d-inline-block">
                        @Html.RadioButtonFor(m => m.Gender, MunchkinGender.Female)
                    </div>
                    <div class="d-inline-block">
                        <p>Female</p>
                    </div>
                </div>
            </div>
            <div>
                <button class="button-big custom-border mr-3">
                    @Html.ActionLink("Cancel", "GameSetup", "Game", new { })
                </button>
                <input type="submit" value="Add" class="button-big custom-border" />
            </div>
        </div>
    </div>
}

<div class="custom-border button-small m-3 text-center" style="position: fixed; bottom: 0; left: 0; padding-top: 3px;">
    <i class="fas fa-bars fa-2x navbar-toggler navbar-toggler-icon" style="padding-left: 8px;"></i>
</div>