
@{
    ViewData["Title"] = "MunchkinEdit";
}

@using Models;
@using Models.Enums;
@model Munchkin

<div class="w-100 text-center mt-3">
    <h2>
        Edit
        @if (Model.Name.Length > 7)
        {
            <br />
        }
        @Model.Name
    </h2>
</div>

<div class="text-center">
    <div class="text-center">
        <h3 class="mb-0">Strength</h3>
        <h1 class="mb-0">
            @{
                int strength = Model.Level + Model.Gear;
            }
            @strength
        </h1>
    </div>

    <div class="d-inline-block text-center mr-4">
        <h3 class="mb-0">Level</h3>
        <div class="d-inline-block" style="width: 30px;">
            <a href="@Url.Action("LevelUp", "Munchkin", new { Model.Id, AdjustStats.Up, ViewBag.GameId })">
                <i class="fas fa-chevron-up custom-border button-tiny mb-2" style="padding-top: 3px;"></i><br />
            </a>
            <a href="@Url.Action("LevelDown", "Munchkin", new { Model.Id, AdjustStats.Down, ViewBag.GameId })">
                <i class="fas fa-chevron-down custom-border button-tiny" style="padding-top: 5px;"></i>
            </a>
        </div>
        <div class="d-inline-block ml-2" style="width: 30px;">
            <h1>@Model.Level</h1>
        </div>
    </div>
    <div class="d-inline-block text-center mt-4 ml-4">
        <h3 class="mb-0">Gear</h3>
        <div class="d-inline-block" style="width: 30px;">
            <a href="@Url.Action("GearUp", "Munchkin", new { Model.Id, AdjustStats.Up, ViewBag.GameId })">
                <i class="fas fa-chevron-up custom-border button-tiny mb-2" style="padding-top: 3px;"></i><br />
            </a>
            <a href="@Url.Action("GearDown", "Munchkin", new { Model.Id, AdjustStats.Down, ViewBag.GameId })">
                <i class="fas fa-chevron-down custom-border button-tiny" style="padding-top: 5px;"></i>
            </a>
        </div>
        <div class="d-inline-block ml-2" style="width: 30px;">
            <h1>@Model.Gear</h1>
        </div>
    </div>
</div>
<div class="text-center mt-4">
    <h3 class="mb-0">Gender</h3>
    <a href="@Url.Action("AdjustGender", "Munchkin", new { Model.Id })">
        <div class="d-inline-block" style="width: 50px;">
            <i class="fas fa-exchange-alt fa-2x custom-border button-small" style="padding-top: 7px;"></i>
        </div>
    </a>
    @{
        if (Model.Gender == MunchkinGender.Male)
        {
            <div class="d-inline-block ml-2 p-2" style="width: 60px;">
                <i class="fas fa-male fa-2x"></i>
                <i class="fas fa-mars fa-2x"></i>
            </div>
        }
        else
        {
            <div class="d-inline-block ml-2 p-2" style="width: 60px;">
                <i class="fas fa-female fa-2x"></i>
                <i class="fas fa-venus fa-2x"></i>
            </div>
        }
    }
</div>

<div class="d-inline-block" style="position: fixed; bottom: 0; left: 0;">
    <div class="custom-border button-small m-3 text-center float-left" style="padding-top: 3px;">
        <i class="fas fa-bars fa-2x navbar-toggler navbar-toggler-icon" style="padding-left: 8px;"></i>
    </div>

    @{
        int Id = ViewBag.GameId;
    }

    <a href="@Url.Action("GameOverview", "Game", new { Id })">
        <div class="custom-border button-small my-3 text-center float-right" style="padding-top: 7px; padding-left: -1px;">
            <i class="fas fa-chevron-left fa-2x"></i>
        </div>
    </a>
</div>

@{
    if (ViewBag.Winner != null)
    {
        <a href="@Url.Action("SetWinner", "Game", new { ViewBag.Winner.Id })">
            <div class="custom-border button-small m-3 text-center" style="position: fixed; bottom: 0; right: 0; padding-top: 6px;">
                <i class="fas fa-flag-checkered fa-2x"></i>
            </div>
        </a>
    }
    else
    {
        <div class="d-inline-block" style="position: fixed; bottom: 0; right: 0;">
            <a href="@Url.Action("RollDice", "Munchkin", new { Model.Id })">
                <div class="custom-border button-small m-3 text-center float-left" style="padding-top: 3px;">
                    @{
                        switch (ViewBag.DiceInt)
                        {
                            case 1: <i class="fas fa-dice-one fa-2x" style="padding-top: 4px;"></i>break;
                            case 2: <i class="fas fa-dice-two fa-2x" style="padding-top: 4px;"></i>break;
                            case 3: <i class="fas fa-dice-three fa-2x" style="padding-top: 4px;"></i>break;
                            case 4: <i class="fas fa-dice-four fa-2x" style="padding-top: 4px;"></i>break;
                            case 5: <i class="fas fa-dice-five fa-2x" style="padding-top: 4px;"></i>break;
                            case 6: <i class="fas fa-dice-six fa-2x" style="padding-top: 4px;"></i>break;
                            default: <i class="fas fa-dice fa-2x" style="padding-top: 4px;"></i>break;
                        }
                    }
                </div>
            </a>
            <a href="@Url.Action("Index", "Battle", new { Model.Id })">
                <div class="custom-border button-small mr-3 my-3 text-center float-right" style="padding-top: 7px;">
                    <i class="fas fa-fist-raised fa-2x"></i>
                </div>
            </a>
        </div>
    }
}
